/* Add this to your global or specific stylesheet */
*{
  font-family: Arial, Helvetica, sans-serif;
}
.table-container {
  position: relative;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
  }
  
  .table-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .counter{
    background-color: rgb(239, 28, 28);
    position: absolute;
    font-size: 13px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    color: white;
    padding: 0;
    border-radius: 50%;
    font-weight: 400;
  }
  